* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html {
    background: url("/assets/images/flag.jpg") no-repeat;
    background-size: cover;
    color: white;
    width: 100vw;
    height: 100vh;
    display: inline-table;
}

/** Nav styling **/
nav {
    overflow: hidden;
    background-color: rgb(179, 0, 0);
}

nav>a {
    float: left;
    padding: 5px;
    font-size: 200%;
    text-decoration: none;
    color: black;
}

nav>a:hover {
    color: white;
}

/** Extra styling for nav bar when on Game page **/
#game-nav {
    border-bottom: 3px solid black;
    margin-bottom: 1px;
}

/** Extra styling for nav bar when on api page **/
#api-nav {
    border-bottom: 3px solid black;
    margin-bottom: 1px;
}

/** Extra styling for nav bar when on contact page **/
#contact-nav {
    border-bottom: 3px solid black;
    margin-bottom: 1px;
}

/** Header styling **/
.center-headers {
    text-align: center;
}

h1 {
    margin-top: 50px;
    color: rgb(255, 0, 0);
    align-content: center;
    font-size: 4vw;
}

h2 {
    text-align: center;
    margin: 20px auto;
    color: rgb(255, 0, 0);
    align-content: center;
    font-size: 4vw;
}

/** Button for restarting game **/ 
button {
    border: 2px solid white;
    border-radius: 10px;
    width: 20%;
    height: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 10px auto;
    background-color: black;
    color: white;
    font-size: 3vw;
}

button:hover {
    background-color: white;
    color: black;
}

/** time expired heading **/
#time-expired {
    width: 100%;
}

/** moves made heading **/
#moves-made {
    width: 100%;
}

/** Modal Win screen **/
.modal {
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    background-color: rgb(133, 23, 23);
    opacity: 0.9;
    width: 50%;
    height: 100px;
    text-align: center;
    display: none;
}

/** Container for the game area **/
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 600px;
    margin: -20px auto 0;
    align-content: center;
    justify-content: center;
}

/** All game cards **/
.card {
    width: calc(20% - 10px);
    height: calc(20% - 10px);
    margin: 5px;
    position: relative;
    border: 2px solid white;
    background-color: black;
    transform-style: preserve-3d;
}

/** Rotate game card **/
.card.open {
    transform: rotateY(180deg);
}

/** Back and front side of game cards **/
.front-card, .back-card {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 10px;
    backface-visibility: hidden;
}

/** Rotate game card to see the images **/
.front-card {
    transform: rotateY(180deg);
}

/** Form **/
#container-form {
    flex-wrap: wrap;
    display: flex;
    height: 500px;
    width: 600px;
    justify-content: center;
    border: 2px solid white;
    margin: 50px auto;
    background-color: rgb(182, 52, 52);
    opacity: 0.9;
}

form {
    position: relative;
}

legend {
    font-size: 150%;
    margin-top: 20px;
}

/** Name and email in the form **/
.name-email {
    width: 100%;
    height: 10%;
    margin-top: 50px;
    text-align: center;
    font-size: 100%;
    border-radius: 10px;
    position: relative;
}

/** Submit button in the form **/
#submit {
    margin: 40px auto;
    width: 30%;
    height: 10%;
    border-radius: 10px;
    position: relative;
    display: block;
}

#submit:hover {
    background-color: black;
    color: white;
}

#fetch {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

#inner-fetch-user {
    flex: 33%;
    margin-top: 50px;
    text-align: center;
}

/** 404 page styling **/
#not-found-page-div {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}

#not-found-page-div > h1 {
    font-size: 4vw;
}

/** Home page button on 404 page **/
#not-found-page-div > h1 > a {
    color: white;
}

#not-found-page-div > h1 > a:hover {
    color: red;
}

/** Footer **/
#footer-container {
    background-color: rgb(148, 42, 42);
    color: black;
    width: 100%;
    height: 50px;
    bottom: 0;
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
}

.inner-footer-content {
    list-style-type: none;
    font-size: 120%;
}

/** Footer links **/
.inner-footer-content > a {
    color: white;
    text-decoration: none;
}

.inner-footer-content > a:hover {
    color: black;
    border-bottom: 1px solid black;
    text-decoration: none;
}

/** For screens smaller than 650px **/
@media screen and (max-width: 650px) {

    /** h1 header **/
    h1 {
        margin-top: 20px;
    }

    /** Game container **/
    .grid {
        height: 500px;
        width: 100vw;
    }

    /** Form **/
    #container-form {
        height: 400px;
        width: 500px;
    }

    /** API fetch page **/
    #fetch {
        margin: 20px auto;
    }
    
    #inner-fetch-user {
        flex: 50%;
    }

    /** Footer **/
    .inner-footer-content {
        font-size: 100%;
    }
}

/** For screens smaller than 500px **/
@media screen and (max-width: 500px) {

    /** Nav **/
    nav>a {
        padding: 5px;
        font-size: 125%;
    }

    /** Header styling **/
    h1 {
        margin-top: 20px;
        font-size: 100%;
    }
    
    h2 {
        font-size: 90%;
    }
    
    /** Button for restarting game **/ 
    button {
        font-size: 80%;
    }

    /** Game container **/
    .grid {
        flex-direction: column;
        height: 400px;
    }

    #inner-fetch-user {
        flex: 100%;
        margin: 30px auto;
    }

    /** Form **/
    #container-form {
        height: 400px;
        width: 400px;
    }
    
    /** 404 page styling **/
    #not-found-page-div > h1 {
        font-size: 150%;
    }

    #footer-container > ol > li {
        display: none;
    }
}

/** For screens smaller than 400px **/
@media screen and (max-width: 400px) {

    /** Game container **/
    .grid {
        height: 350px;
    }

    /** Form **/
    #container-form {
        height: 400px;
        width: 100vw;
    }
}